body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
}

nav {
  height: 5rem;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(254, 251, 236);
}

.recipe {
  margin-left: 8rem;
  margin-right: 8rem;
}

.recipeimg {
  max-width: 30rem;
  border-radius: 20px;
  border: solid black;
}

.recipeList img {
  max-height: 4rem;
  border-radius: 20px;
}

.recipeList th {
  font-size: x-large;
  background-color: #da1c08;
  color: #fefbec;
  height: 1rem;
  text-align: left;
  vertical-align: middle;
  padding: 1rem;
}

.recipeList tr:nth-child(even) {
  background-color: whitesmoke;
}

.recipeList td {
  font-size: large;
  padding: 0.8rem;
  height: 4rem;
  max-height: 4rem;
}

.recipeList tr:hover {
  background-color: lemonchiffon;
  border-radius: 20px;
}

.recipeList table {
  border-collapse: collapse;
  width: 80%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.recipeList {
  margin-left: 2rem;
}

nav ul {
  max-width: 120rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  list-style: none;
  padding: 0 2rem 0 2rem;
}

nav li.Spacer {
  margin: auto;
}

nav .Logo {
  width: 12rem;
  height: 4rem;
  padding: 0 1rem 0 1rem;
}

nav .Profile {
  margin-right: 5rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: orange;
  color: #fff;
  /* Text color */
  border: none;
  /* Remove border */
}

nav .Profile:hover {
  background-color: darkorange;
}

nav .SignIn {
  cursor: pointer;
}

nav .SignIn:hover {
  color: darkorange;
}


footer {
  background-color: rgb(254, 251, 236);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  position: sticky;
  bottom: 0;
}

footer p {
  color: dimgray;
  margin: 2rem;
  display: inline;
}

footer div {
  align-self: center;
}

footer img {
  align-self: center;
  margin-bottom: 0;
  margin: auto;
  max-width: 100%;
}

.AuthShadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 9999;
}

.AuthContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 20rem;
  background-color: rgb(254, 251, 236);
  border-radius: 10px;
  border-color: darkorange;
  border-width: 7rem;
}

button.AuthSubmit {
  margin: 5rem, 5rem 5rem 5rem;
  display: inline-block;
  width: 20rem;
  height: 3rem;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: orange;
  color: #fff;
  /* Text color */
  border: none;
  /* Remove border */
}

button.AuthSubmit:hover {
  background-color: darkorange;
}

input.AuthInput {
  font-size: medium;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Titlebar img {
  height: 2rem;
  margin-left: auto;
  margin-right: 0.5rem;
  cursor: pointer;
}

.errorMessage{
  background-color: rgb(255, 200, 200);
  border: 2px solid #ff0000; 
  border-radius: 0.3rem;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  margin-bottom: 0.5rem;
  width:96%
}