body {
   margin: 0;
}

nav {
  height: 5rem;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  background-color: rgb(254, 251, 236);
  
}

nav li {
  list-style: none;
  padding: 0 2rem 0 2rem;
}

nav li.Spacer {
  margin: auto;
}

nav .Logo {
  width: 4rem;
  height: 4rem;
  padding: 0 1rem 0 1rem;
}

nav .Profile {
  margin-right: 5rem;
}

footer {
  background-color: rgb(254, 251, 236);
  
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

footer p {
  color:dimgray;
  margin: 2rem;
  display: inline;
}

footer div {
  align-self: center;

  

}

footer img {
  align-self: center;
  margin-bottom: 0;
  margin: auto;
}